/**
 * @author Brandon Manke
 * @file style.css
 * MIT License
 */
@font-face {
    font-family: 'roboto/light';
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: 'roboto/bold';
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

body {
    text-align: right;
    font-family: 'roboto';
    color: #ffffff;
    background-color: #000000;
}

.main {
    /*height: 90vh;*/
    margin-right: 4.5%;
    margin-left: 4.5%;
    font-family: 'roboto';
}

.date {}

.date p {
    font-family: 'roboto';
    display: inline-block;
}

.date span {
    font-family: 'roboto/bold';
    display: block;
    font-size: 40px;
}

.weather {
    position: relative;
    /*display: inline-block;*/
    margin-top: 25px;
}

.weather span {
    float: right;
    display: block;
    font-family: 'roboto';
    font-size: 37.5px;
    margin: 11px 10px 0px 10px;
}

.forcast {
    float: right;
    margin-left: 100%;
}

#summary {
    text-align: left;
    width: 200px;
    font-family: 'roboto/light';
    /*font-size: 18px;*/
}

.container {
    float: right;
}

#news {
    margin-top: 20px;
    float: right;
}

#news li {
    font-family: 'roboto/light';
    list-style-type: none;
    margin: 10px 0px 10px 0px;
    text-align: left;
    font-size: 15px;
}

#news li:before {
    display: inline-block;
    content: ' ';
    background-image: url('../images/news.svg');
    background-size: 16px 16px;
    height: 16px;
    width: 16px;
    margin-right: 12px;
    vertical-align: top;
}

#calendar {
    margin-top: 40%;
}

#calendar li {
    font-family: 'roboto/light';
    list-style-type: none;
    margin: 10px 0px 10px 0px;
    text-align: left;
    font-size: 15px;
}

#calendar p {
    font-family: 'roboto/light';
    margin: 10px 0px 10px 0px;
    text-align: left;
    font-size: 15px;
}

#calendar li:before {
    display: inline-block;
    content: ' ';
    background-image: url('../images/event.svg');
    background-size: 16px 16px;
    height: 16px;
    width: 16px;
    margin-right: 12px;
    vertical-align: top;
}